#social-share {
  display: inline-block;

  .effect {
    &:nth-child(2) {
      margin-top: 50px;
    }

    &:nth-child(2n+1) {
      h2 {
        color: var(--bs-primary);
      }
    }

    &:nth-child(2n) {

      a {
        color: var(--white);
        border-color: var(--bs-white);
      }
    }
  }

  #collapseSocialButtons {
    a {
      margin-top: 0.3em !important;

      &:hover {
        color: lighten($primary, 20%);
        border-color: lighten($primary, 20%);
      }
    }
  }
}

.effect {
  a {
    text-decoration: none !important;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 1.3em;
    overflow: hidden;
    position: relative;
    color: var(--bs-primary);
    border: 2px solid var(--bs-primary);

    i {
      position: relative;
      z-index: 3;
    }

    &:last-child {
      margin-right: 0;
    }

    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    i {
      display: inline-block;
      vertical-align: middle;
    }
  }

  a {
    transition: border-radius 0.2s linear 0s;
    transform: rotate(0deg);

    i {
      transition: transform 0.01s linear 0s;
      transform: rotate(-45deg);
    }

    &:hover {
      border-radius: 0;
      border-color: lighten($primary, 20%);
    }
  }

  .list-inline-item:not(:last-child) {
    margin-right: 1rem;
  }
}