<!-- Navigation -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        {% assign siteTitle = site.title | default: 'Change <code>title</code> in <code>_config.yml</code>' %}
        {% include elements/linkActive.html linktext=siteTitle href="/" url="/index.html" class="navbar-brand" %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    {% include elements/linkActive.html linktext="Projects" href="/projects/" url="/projects/" %}
                </li>
                <li class="nav-item">
                    {% include elements/linkActive.html linktext="Blog" href="/blog/" url="/blog/index.html" %}
                </li>
                <li class="nav-item">
                    {% include elements/linkActive.html linktext="Resume" href="/resume/" url="/resume/" %}
                </li>
                <li class="nav-item">
                    {% include elements/linkActive.html linktext="Contact" href="/contact/" url="/contact/" %}
                </li>
                <li class="nav-item">
                    {% include elements/linkActive.html linktext="<i class='fas fa-tags'></i>" href="/tags" url="/tags" %}
                </li>
            </ul>
        </div>
    </div>
</nav>