---
layout: page
webpack_entry_scripts: ['main', 'page']
webpack_entry_styles: ['main', 'page']
---

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-12 col-xl-12 mx-auto">
            <h1 class="title-with-hr">Recent notes</h1>

            <ul class="recent-notes notes-list">
            {% for post in site.posts offset:0 limit:3 %}
                <li class="note-stub d-flex flex-column flex-lg-row flex-xl-row justify-content-between">

                    <a href="{{ post.url | relative_url }}" title="Go to post detail" class="flex-grow-1">
                        <h4 class="note-title">{{ post.title }}</h4>
                        <div class="note-metadata">
                            <span class="note-date">
                                <i class="fas fa-calendar-day"></i>&nbsp; {%- include functions/i18nFormatDayDate.html date=post.date -%}
                            </span>
                            {%- include functions/calcReadingTime.html content=post.content -%}
                        </div>
                    </a>

                    <span class="note-tags ml-4 text-lg-end text-xl-end text-xxl-end">
                        {%- for item in post.tags -%}
                            {% assign itemDowncase = item | downcase %}
                            {% assign tag = tag | downcase %}
                            <a class='badge bg-primary badge-tag' href="{{ '/tags' | relative_url }}#{{ item | downcase | strip | cgi_escape }}">
                                <i class="fa fa-tag fa-fw"></i> {{ item | capitalize | strip | cgi_escape }}
                            </a >
                        {%- endfor -%}
                    </span>
                </li>
            {% endfor %}
            </ul>

            <div class="pager clearfix view-more">
                <a href="/notes">View more notes</a>
            </div>
        </div>
    </div>
</div>